.blog{
  width: 20rem;
  height: 20rem;
  position: relative;
}


.footer{
  position: absolute;
  bottom: 1em;
}

.category{
  color: blue;
  font-family: "Monotype Corsiva";
}

.fav{
  right:1em;
}

.cursor{
  cursor: pointer;
}
