<ul class="navbar-nav mr-auto" *ngIf="!toggle">
  <li class="nav-item active">
    <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/favourites">Favourites</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/my-blogs">My Blogs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/create">Create</a>
  </li>
  <li class="nav-item">
    <button class="btn btn-success" (click)="logOut()">LogOut</button>
  </li>
</ul>
