<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand">My Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <app-login (notify)="toggleNav($event)" *ngIf="toggle"></app-login>
    <app-nav-items *ngIf="!toggle" (notify)="toggleNav($event)"></app-nav-items>
  </div>
</nav>
